<form [formGroup]="film_form" class="film-form" (submit)="submitGenreForm()">
  <mat-form-field>
    <mat-label for="name">Name</mat-label>
    <input matInput type="text" formControlName="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label for="description">Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label for="release_date">Release Date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="release_date">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label for="rating">Rating</mat-label>
    <input type="number" matInput min=1 max=5 formControlName="rating"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label for="ticket_price">Ticket Price</mat-label>
    <input matInput type="number" formControlName="ticket_price">
  </mat-form-field>
  <input
    id="rating"
    formControlName="rating"
    type="range"
    min="1"
    max="5"
    step="0.1"
    class="form-control"
    [matTooltip]="film_form.value.rating">

  <mat-form-field class="example-chip-list" appearance="fill">
    <mat-label>Film Genres</mat-label>
    <mat-chip-list #chipList aria-label="Genre selection">
      <mat-chip
        *ngFor="let genre of genres"
        (removed)="remove(genre)">
        {{genre}}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input
        placeholder="New Genre..."
        #genreInput
        formControlName="genre"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="keyCodes"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>

  </mat-form-field>
  <input
    id="file"
    type="file"
    class="form-control"
    (change)="onFileChange($event)">
  <button mat-flat-button type="submit" color="primary">Create</button>
</form>
